.remove-corner{
	border-radius: 0px;
}
/*.navbar-inverse {
  background-color: green;
  border-color: transparent;
}*/
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #00a2ff;
  }
 .dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  transition: 0.6s ease;
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
  border-bottom: 3px dotted #2417B8;
  border-top: 3px dotted #2417B8;
  border-left: 3px solid #2417B8;
  border-right: 3px solid #2417B8;
}

 .navbar-brand {
  float: left;
  height: 50px;
  padding: 8px 8px;
  font-size: 18px;
  line-height: 20px;
}

.alert h4 {
  margin-top: 0;
  color: #00a2ff;
}

html,

#body {
   padding:0px;
   padding-bottom:40px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#00a2ff;
}
body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}
.carousel-inner > .item > img {
  width:1200px;
  height:360px;
   margin: auto;
}
.well{
    background-image: url('img/au.jpg');
    background-size: auto;
    width: 100%;
    max-width: 375px;
    padding: 20px 30px 20px 30px;
    margin: auto;
    background-color: white;
}